<div class="container form">
    <form>
        <h1 class="text-center"><strong>Login</strong></h1>
        <br>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary" (click)="onClickRoute()">Login</button>
      </form>
</div>