<div class="container form">
    <form [formGroup]="form">
        <h1 class="text-center"><strong>Registration</strong></h1>
        <br>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
          </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary" (click)="registerFormDetails()">Register</button>
      </form>
</div>