<div class="container contact-us">
    <h2 class="text-center">Contact Us</h2>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quod obcaecati laudantium maxime. Cupiditate quo qui soluta sit minima vero consequuntur, dolor, recusandae molestias doloribus delectus placeat excepturi unde ut tempora. Placeat magni cupiditate odit dolores et nostrum unde obcaecati enim laborum iure officia corrupti natus provident, facilis velit dignissimos.</p>
    <br>
    <div class="container text-center">
        <h3>Dream, Work and Grow !</h3>
        <p>IncubXperts TechnoConsulting Pvt. Ltd.</p>
        <p>+91 820 810 7030</p>
    </div>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4>Development Office</h4>
            <br>
            <h6>Naik House S No 1/15/2<br>
                Shankar Rao More Society, Karve Nagar<br>
                Pune, 411052, Maharashtra<br>
                India</h6>
        </div>
        <div class="col-sm-4">
            <h4>Sales Office</h4>
            <br>
            <h6>8590 Magnolia Trail <br>
                Apt#315, Eden Prairie <br>
                MN 55344 <br>
                USA</h6>    
        </div>
        <div class="col-sm-4">
            <h4>Registered Office</h4>
            <br>
            <h6>A-3, Tejovalay Near Cipla Foundation <br>
                Warje, Pune, 411058 <br>
                Maharashtra <br>
                India</h6>
        </div>
    </div>
</div>